{
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "jsx": true,
        "dynamicImport": true
      },
      "minify": {
        "compress": true,
        "mangle": true
      }
    },
    "env": {
      "targets": {
        "chrome": "80"
      },
      "corejs": "3"
    },
    "minify": true
}
